<div class="{{CSS_PREFIX}}popup">
    <div class="{{CSS_PREFIX}}popup-container">
        <div class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}dropdown {{CSS_PREFIX}}close {{CSS_PREFIX}}section-calendar{{#unless calendars.length}} {{CSS_PREFIX}}hide{{/unless}}">
            <button class="{{CSS_PREFIX}}button {{CSS_PREFIX}}dropdown-button {{CSS_PREFIX}}popup-section-item">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot" style="background-color: {{selectedCal.bgColor}}"></span>
                <span id="{{CSS_PREFIX}}schedule-calendar" class="{{CSS_PREFIX}}content">{{selectedCal.name}}</span>
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}dropdown-arrow"></span>
            </button>
            <ul class="{{CSS_PREFIX}}dropdown-menu" style="z-index: {{zIndex}}">
                {{#each calendars}}
                    <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item" data-calendar-id="{{id}}">
                        <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot" style="background-color: {{bgColor}}"></span>
                        <span class="{{CSS_PREFIX}}content">{{name}}</span>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}dropdown {{CSS_PREFIX}}close {{CSS_PREFIX}}section-title">
            <button class="{{CSS_PREFIX}}button {{CSS_PREFIX}}dropdown-button {{CSS_PREFIX}}popup-section-item">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                <span id="{{CSS_PREFIX}}schedule-title" class="{{CSS_PREFIX}}content">{{#if title}}{{title}}{{else}}{{{titlePlaceholder-tmpl}}}{{/if}}</span>
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}dropdown-arrow"></span>
            </button>
            <ul class="{{CSS_PREFIX}}dropdown-menu" style="z-index: {{zIndex}}">
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">POES-01</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">POES-02</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">POES-03</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">POES-04 - FO-CPC-12</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">POES-04 - FO-CPC-13</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">POES-04 - FO-CPC-14</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">HACCP-01</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">HACCP-02</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">HACCP-03</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">HACCP-04</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">HACCP-05</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">HACCP-06</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">HACCP-07</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-C</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-I</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-V</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-P</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-SA</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-VB</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-EU</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">SPS-HE</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">FO-CPC-15</span>
              </li>
              <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                  <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot"></span>
                  <span class="{{CSS_PREFIX}}content">FO-CPC-29</span>
              </li>
            </ul>
            <button style="display: none;" id="{{CSS_PREFIX}}schedule-private" class="{{CSS_PREFIX}}button {{CSS_PREFIX}}section-private{{#unless isPrivate}} {{CSS_PREFIX}}public{{/unless}}">
            <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-private"></span>
            </button>
        </div>
        <div style="display: none;" class="{{CSS_PREFIX}}popup-section">
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-location">
            <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-location"></span>
                <input id="{{CSS_PREFIX}}schedule-location" class="{{CSS_PREFIX}}content" placeholder="{{locationPlaceholder-tmpl}}" value="{{location}}">
            </div>
        </div>
        <div class="{{CSS_PREFIX}}popup-section">
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-start-date">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-date"></span>
                <input id="{{CSS_PREFIX}}schedule-start-date" class="{{CSS_PREFIX}}content" placeholder="{{startDatePlaceholder-tmpl}}">
                <div id="{{CSS_PREFIX}}startpicker-container" style="margin-left: -1px; position: relative"></div>
            </div>
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-end-date">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-date"></span>
                <input id="{{CSS_PREFIX}}schedule-end-date" class="{{CSS_PREFIX}}content" placeholder="{{endDatePlaceholder-tmpl}}">
                <div id="{{CSS_PREFIX}}endpicker-container" style="margin-left: -1px; position: relative"></div>
            </div>
            <div class="hidden {{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-allday">
                <input id="{{CSS_PREFIX}}schedule-allday" type="checkbox" class="{{CSS_PREFIX}}checkbox-square" checked>
            </div>
        </div>
        <div style="display: none;" class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}dropdown {{CSS_PREFIX}}close {{CSS_PREFIX}}section-state">
            <button class="{{CSS_PREFIX}}button {{CSS_PREFIX}}dropdown-button {{CSS_PREFIX}}popup-section-item">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-state"></span>
                <span id="{{CSS_PREFIX}}schedule-state" class="{{CSS_PREFIX}}content">{{#if state}}{{state}}{{else}}{{{popupStateBusy-tmpl}}}{{/if}}</span>
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}dropdown-arrow"></span>
            </button>
            <ul class="{{CSS_PREFIX}}dropdown-menu" style="z-index: {{zIndex}}">
                <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}none"></span>
                <span class="{{CSS_PREFIX}}content">{{{popupStateBusy-tmpl}}}</span>
                </li>
                <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}none"></span>
                <span class="{{CSS_PREFIX}}content">{{{popupStateFree-tmpl}}}</span>
                </li>
            </ul>
        </div>
        <button class="{{CSS_PREFIX}}button {{CSS_PREFIX}}popup-close"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-close"></span></button>
        <div class="{{CSS_PREFIX}}section-button-save"><button class="{{CSS_PREFIX}}button {{CSS_PREFIX}}confirm {{CSS_PREFIX}}popup-save"><span>{{#if isEditMode}}{{{popupUpdate-tmpl}}}{{else}}{{{popupSave-tmpl}}}{{/if}}</span></button></div>
    </div>
    <div id="{{CSS_PREFIX}}popup-arrow" class="{{CSS_PREFIX}}popup-arrow {{CSS_PREFIX}}arrow-bottom">
        <div class="{{CSS_PREFIX}}popup-arrow-border">
            <div class="{{CSS_PREFIX}}popup-arrow-fill"></div>
        </div>
    </div>
</div>
